extends layout
block content
    #hd
        h1= title
        p Example usage of MongoDB with Node.js
    #layout.yui3-g
       include nav
        #main.yui3-u
            h2 Node.js and MongoDB intro
        #extra.yui3-u

