#nav.yui3-u
    ul
        li: a(href='/') Home
        li: a(href='/simple') Simple native driver
        li: a(href='/mongoose') Mongoose samples
        li: a(href='https://github.com/zladuric/node-mongo-talk') Github repo