extends layout

block content
    #hd
        h1= title
    #layout.yui3-g
        include nav
        #main.yui3-u
            h2 Simple collection
            p Simply insert the following doc:
            form(action='/simple', method='post')
                .yui3-g
                    .yui3-u-1-3
                        label Name 
                    .yui3-u-2-3
                        input(name='name', placeholder='Thing name')
                .yui3-g
                    .yui3-u-1-3
                        label Description
                    .yui3-u-2-3
                        input(name='description', placeholder='Thing description')

                input(type="submit")
            .space
                hr            
                form(action='/simple', method='post')
                    input(name='name',value='Zlatko',type='hidden')
                    input(name='email', value='zladuric@gmail.com',type='hidden')
                    input(type='submit', value='Submit something different?')

        #extra.yui3-u
            h3 Collection contents
            p ---
                each item in data
                    p !{JSON.stringify(item)}

